<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/styles.css" />
    <title>Inventory App</title>
  </head>
  <body>
    <div id="side-menu">
      <div id="side-menu-title"><p>Dashboard</p></div>
      <div id="side-menu-btn-sct">
        <a href="/" class="side-menu-btn"><p>Dashboard</p></a>
        <a href="/allDevices" class="side-menu-btn"><p>All Devices</p></a>
        <a href="/laptops" class="side-menu-btn"><p>Laptop</p></a>
        <a href="/tablets" class="side-menu-btn"><p>Tablets</p></a>
      </div>
      <div id="side-menu-btn-add-new">
        <a href="/addNewData" id="side-menu-btn-add"><p>Add Device</p></a>
      </div>
    </div>

    <div id="main-popup-sct">
      <% if(dashboardNewData !== undefined) { %> <%
      dashboardNewData.forEach(element => { %>
      <div id="main-popup-box">
        <div id="main-popup-box-title">
          <p><%= element.brand_name %></p>
        </div>
        <div id="main-popup-box-text"><p><%= element.name %></p></div>
      </div>
      <% }) %> <% } %>
    </div>

    <div id="main-la-sct">
      <% if (action === 'popup-menu' && dataType === 'brand-list') { %>
      <form method="POST" action="/addNewData">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="brand">Brand:</label>
        <select name="brand" id="brand" required>
          <% data.brands.forEach(element => { %>
          <option value="<%= element.name %>"><%= element.name %></option>
          <% }) %>
        </select>

        <label for="deviceType">Device type:</label>
        <select name="deviceType" id="deviceType" required>
          <% data.deviceType.forEach(element => { %>
          <option value="<%= element.type_name %>">
            <%= element.type_name %>
          </option>
          <% }) %>
        </select>

        <label for="ramSize">RAM Size:</label>
        <select name="ramSize" id="ramSize" required>
          <% data.ramSize.forEach(element => { %>
          <option value="<%= element.size %>"><%= element.size %></option>
          <% }) %>
        </select>

        <label for="storageSize">Storage size:</label>
        <select name="storageSize" id="storageSize" required>
          <% data.storageSize.forEach(element => { %>
          <option value="<%= element.size %>"><%= element.size %></option>
          <% }) %>
        </select>

        <label for="screenSize">Screen size:</label>
        <select name="screenSize" id="screenSize" required>
          <% data.screenSize.forEach(element => { %>
          <option value="<%= element.size %>"><%= element.size %></option>
          <% }) %>
        </select>

        <button type="submit">Submit</button>
      </form>
      <% } else { %>
      <p>Not available</p>
      <% } %>
    </div>
  </body>
</html>
